<table class="table table-stripped table-collapsed">
  <thead>
  	{{easy-row row=table.headers table=table showEditorForSelectedCell=showEditorForSelectedCell selectedCellPosition=selectedCellPosition navigate='navigate' manipulate="manipulate" highlightedRow=highlightedRow 
  	highlightedColumn=highlightedColumn}}
    {{#if showAddFirstRow}}
      <tr>
        <th {{bind-attr colspan="table.headers.cells.length"}}>
          <a class="add-first-row" {{action 'addFirstRow'}}>
            <i class="icon-plus"></i> {{addNewRowLabel}}
          </a>
        </th>
      </tr>
    {{/if}}
  </thead>
  <tbody>
  {{#each row in table.body}}
  	{{easy-row row=row table=table showEditorForSelectedCell=showEditorForSelectedCell selectedCellPosition=selectedCellPosition navigate='navigate' manipulate="manipulate" highlightedRow=highlightedRow highlightedColumn=highlightedColumn}}
  {{/each}}
  </tbody>
  {{#if showAddLastRow}}
    <tfoot>
      <tr>
        <th {{bind-attr colspan="table.headers.cells.length"}}>
          <a class="add-last-row" {{action 'addLastRow'}}>
            <i class="icon-plus"></i> {{addNewRowLabel}}
          </a>
        </th>
      </tr>
    </tfoot>
  {{/if}}
</table>