{{#if showToolBar}}
{{easy-toolbar isFullScreen=isFullScreen}}
{{/if}}
<div class="easy-datatable-subcontainer">
  <table class={{tableClasses}}>
    <thead>
      {{easy-row
        row=table.headers
        table=table
        showEditorForSelectedCell=showEditorForSelectedCell
        selectedCellPosition=selectedCellPosition
        navigate=(action 'navigate')
        manipulate=(action "manipulate")
        highlightedRow=highlightedRow
       highlightedColumn=highlightedColumn}}
      {{#if showAddFirstRow}}
        <tr>
          <th colspan={{table.headers.cells.length}}>
            <a class="add-first-row" {{action 'addFirstRow'}}>
              <i class="icon-plus"></i> {{addNewRowLabel}}
            </a>
          </th>
        </tr>
      {{/if}}
    </thead>
    <tbody>
    {{#each table.body as |row|}}
      {{easy-row
        row=row
        table=table
        showEditorForSelectedCell=showEditorForSelectedCell
        selectedCellPosition=selectedCellPosition
        navigate=(action 'navigate')
        manipulate=(action "manipulate")
        highlightedRow=highlightedRow
        highlightedColumn=highlightedColumn
        showDuplicateRow=showDuplicateRow}}
    {{/each}}
    </tbody>

  </table>
</div>
{{#if showAddLastRow}}
  <div class="add-row">
    <button class="ht-btn ht-btn--secondary add-last-row t-add-new-row" {{action 'addLastRow'}}>
      {{addNewRowLabel}}
    </button>
  </div>
{{/if}}
