{{#if showRemoveColumnButton}}
  <a {{action 'manipulate' 'removeColumn' column}}  class="typo--danger with-separator t-column-action-remove" title="Remove">
    <i class="icon-trash"></i>
  </a>
{{/if}}

{{#if showRemoveRowButton}}
  <a {{action 'manipulate' 'removeRow' row}} class="typo--danger with-separator t-row-action-remove" title="Remove">
    <i class="icon-trash"></i>
  </a>
{{/if}}

{{#if showAddFirstColumn}}
  <a class="add-first-column" {{action 'manipulate' 'addFirstColumn'}} title="Add first column">
    <i class="icon-plus"></i>
  </a>
{{/if}}

{{#if showAddLastColumn}}
  <a class="add-last-column" {{action 'manipulate' 'addLastColumn'}} title="Add last column">
    <i class="icon-plus"></i>
  </a>
{{/if}}

{{#if showDuplicateRowButton}}
  <a {{action 'manipulate' 'duplicateRow' row}} class="t-row-action-duplicate" title="Duplicate">
    <i class="icon-docs"></i>
  </a>
{{/if}}

{{#if showMoveRowUpButton}}
  <a {{action 'manipulate' 'moveRowUp' row}} class="t-row-action-move-up" title="Move up">
    <i class="icon-arrow-up"></i>
  </a>
{{/if}}

{{#if showMoveRowDownButton}}
  <a {{action 'manipulate' 'moveRowDown' row}} class="t-row-action-move-down" title="Move down">
    <i class="icon-arrow-down"></i>
  </a>
{{/if}}

{{#if showMoveColumnLeftButton}}
  <a {{action 'manipulate' 'moveColumnLeft' column}} class="t-column-action-move-left" title="Move left">
    <i class="icon-arrow-left"></i>
  </a>
{{/if}}

{{#if showMoveColumnRightButton}}
  <a {{action 'manipulate' 'moveColumnRight' column}} class="t-column-action-move-right" title="Move right">
    <i class="icon-arrow-right"></i>
  </a>
{{/if}}


