{{#if showToolBar}}
{{easy-toolbar isFullScreen=isFullScreen}}
{{/if}}
<table class={{allTableClasses}}>
  <thead>
  	{{easy-row row=table.headers table=table showEditorForSelectedCell=showEditorForSelectedCell selectedCellPosition=selectedCellPosition navigate='navigate' manipulate="manipulate" highlightedRow=highlightedRow
  	highlightedColumn=highlightedColumn}}
    {{#if showAddFirstRow}}
      <tr>
        <th colspan={{table.headers.cells.length}}>
          <a class="add-first-row" {{action 'addFirstRow'}}>
            <i class="icon-plus"></i> {{addNewRowLabel}}
          </a>
        </th>
      </tr>
    {{/if}}
  </thead>
  <tbody>
  {{#each table.body as |row|}}
  	{{easy-row row=row table=table showEditorForSelectedCell=showEditorForSelectedCell selectedCellPosition=selectedCellPosition navigate='navigate' manipulate="manipulate" highlightedRow=highlightedRow highlightedColumn=highlightedColumn showDuplicateRow=showDuplicateRow}}
  {{/each}}
  </tbody>
  {{#if showAddLastRow}}
    <tfoot>
      <tr>
        <th colspan={{table.headers.cells.length}}>
          <a class="add-last-row" {{action 'addLastRow'}}>
            <i class="icon-plus"></i> {{addNewRowLabel}}
          </a>
        </th>
      </tr>
    </tfoot>
  {{/if}}
</table>
