{{#if cell.isIndex}}{{displayableIndex}}{{/if}}

{{#if cell.showActions}}
  {{#if (gte position.row 0)}}
    <BasicDropdown @calculatePosition={{this.calculatePosition}} as |Dropdown|>
      <Dropdown.Trigger class="ht-datatable__actions__trigger" {{on "mouseenter" (action "open" Dropdown)}} {{on "mouseleave" (action "closeLater" Dropdown)}}>
        <i class="icon-options">&nbsp;</i>
      </Dropdown.Trigger>
      <Dropdown.Content class="slide-fade--horizontal" {{on "mouseenter" (action "open" Dropdown)}} {{on "mouseleave" (action "closeLater" Dropdown)}}>
        <div class="ht-datatable__actions ht-datatable__actions__row" {{action "closeAfterAction" Dropdown}}>
          {{easy-cell-actions cell=cell position=position table=table manipulate=(action 'manipulate')
                              showDuplicateRow=showDuplicateRow}}
        </div>
      </Dropdown.Content>
    </BasicDropdown>
  {{else}}
    <BasicDropdown @horizontalPosition="center" @verticalPosition="above" as |Dropdown|>
      <Dropdown.Trigger {{on "mouseenter" (action "open" Dropdown)}} {{on "mouseleave" (action "closeLater" Dropdown)}} tabindex=-1>
        <span class="datatable-cell-content">{{cell.value}}</span>
      </Dropdown.Trigger>
      <Dropdown.Content class="ht-datatable__actions__trigger" {{on "mouseenter" (action "open" Dropdown)}} {{on "mouseleave" (action "closeLater" Dropdown)}}>
          <div class="ht-datatable__actions ht-datatable__actions__column" {{action "closeAfterAction" Dropdown}}>
            {{easy-cell-actions cell=cell position=position table=table manipulate=(action 'manipulate')}}
          </div>
      </Dropdown.Content>
    </BasicDropdown>
  {{/if}}
{{else}}
  <span class="datatable-cell-content">{{cell.value}}</span>
{{/if}}

{{#if editorShown}}{{easy-editor
  oneWayValue=cell.value
  navigate=(action "navigate")
  save=(action "save")
  stopEdition=(action "stopEdition")
  saveOnLeave=(action "saveOnLeave")
  stopEditionAndKeepFocus=(action "stopEditionAndKeepFocus")
}}{{/if}}
{{#if inError}}
  <div class="error">{{errorMessage}}</div>
{{/if}}

{{#if cell.showAddLastColumn}}
  <div>
    {{easy-cell-actions cell=cell position=position table=table manipulate=(action 'manipulate')}}
  </div>
{{/if}}

{{#if cell.showAddFirstColumn}}
  <div>
    {{easy-cell-actions cell=cell position=position table=table manipulate=(action 'manipulate')}}
  </div>
{{/if}}
