{{#if showMoveColumnLeftButton}}
<a {{action 'manipulate' 'moveColumnLeft' column}}>
  <i class="glyphicon glyphicon-arrow-left">left</i>
</a>
{{/if}}

{{#if showEditButton}}
<i class="glyphicon glyphicon-pencil">e</i>
{{/if}}

{{#if showAddLastColumn}}
<a {{action 'manipulate' 'addLastColumn'}}>
  <i class="glyphicon glyphicon-plus">+</i>
</a>
{{/if}}

{{#if showAddFirstColumn}}
<a {{action 'manipulate' 'addFirstColumn'}}>
  <i class="glyphicon glyphicon-plus">+</i>
</a>
{{/if}}

{{#if showRemoveColumnButton}}
<a {{action 'manipulate' 'removeColumn' column}}>
  <i class="glyphicon glyphicon-remove">x</i>
</a>
{{/if}}

{{#if showRemoveRowButton}}
<a {{action 'manipulate' 'removeRow' row}}>
  <i class="glyphicon glyphicon-remove">x</i>
</a>
{{/if}}

{{#if showMoveRowUpButton}}
<a {{action 'manipulate' 'moveRowUp' row}}>
  <i class="glyphicon glyphicon-arrow-up">i</i>
</a>
{{/if}}

{{#if showMoveRowDownButton}}
<a {{action 'manipulate' 'moveRowDown' row}}>
  <i class="glyphicon glyphicon-arrow-down">v</i>
</a>
{{/if}}

{{#if showMoveColumnRightButton}}
<a {{action 'manipulate' 'moveColumnRight' column}}>
  <i class="glyphicon glyphicon-arrow-right">right</i>
</a>
{{/if}}
