{{#if cell.isIndex}}{{displayableIndex}}{{/if}}

{{#if cell.showActions}}
  {{#if (gte position.row 0)}}
    {{#basic-dropdown calculatePosition=calculatePosition as |dropdown|}}
      {{#dropdown.trigger class="ht-datatable__actions__trigger" onMouseEnter=(action "open") onMouseLeave=(action "closeLater")}}
        <i class="icon-options">&nbsp;</i>
      {{/dropdown.trigger}}
      {{#dropdown.content class="slide-fade--horizontal" onMouseEnter=(action "open")
                          onMouseLeave=(action "closeLater")}}
        <div class="ht-datatable__actions ht-datatable__actions__row" {{action "closeAfterAction" dropdown}}>
          {{easy-cell-actions cell=cell position=position table=table manipulate=(action 'manipulate')
                              showDuplicateRow=showDuplicateRow}}
        </div>
      {{/dropdown.content}}
    {{/basic-dropdown}}
  {{else}}
    {{#basic-dropdown horizontalPosition="center" verticalPosition="above" as |dropdown|}}
      {{#dropdown.trigger onMouseEnter=(action "open") onMouseLeave=(action "closeLater") tabindex=-1}}
        <span class="datatable-cell-content">{{cell.value}}</span>
      {{/dropdown.trigger}}
      {{#dropdown.content class="ht-datatable__actions__trigger" onMouseEnter=(action "open") onMouseLeave=(action "closeLater")}}
        <div class="ht-datatable__actions ht-datatable__actions__column" {{action "closeAfterAction" dropdown}}>
          {{easy-cell-actions cell=cell position=position table=table manipulate=(action 'manipulate')}}
        </div>
      {{/dropdown.content}}
    {{/basic-dropdown}}
  {{/if}}
{{else}}
  <span class="datatable-cell-content">{{cell.value}}</span>
{{/if}}

{{#if editorShown}}{{easy-editor
  oneWayValue=cell.value
  navigate=(action "navigate")
  save=(action "save")
  stopEdition=(action "stopEdition")
  saveOnLeave=(action "saveOnLeave")
}}{{/if}}
{{#if inError}}
  <div class="error">{{errorMessage}}</div>
{{/if}}

{{#if cell.showAddLastColumn}}
  <div>
    {{easy-cell-actions cell=cell position=position table=table manipulate=(action 'manipulate')}}
  </div>
{{/if}}

{{#if cell.showAddFirstColumn}}
  <div>
    {{easy-cell-actions cell=cell position=position table=table manipulate=(action 'manipulate')}}
  </div>
{{/if}}
